@model IEnumerable<Kasim.Core.Model.InvoiceWebApp.Invoice>

@{
    ViewData["Title"] = "销售发票列表";
}

<h2>销售发票列表</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FormNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SystemDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceSum)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceSum)
            </td>
            <td>              
                @Html.ActionLink("发票详情", "Details", new {  id=item.FormNumber }, new { target = "_blank" })
            </td>
        </tr>
}
    </tbody>
</table>
